<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="AdWordsApi" type="System.Configuration.DictionarySectionHandler"/>
  </configSections>
    <system.web>
      <compilation debug="true" targetFramework="4.6.1" />
      <httpRuntime targetFramework="4.6.1" />
    </system.web>

  <appSettings>
    <!--Adwords Keys-->
    <add key="GoogleClientId" value="270821045209"/>
    <add key="DeveloperToken" value="1DMN4pCDdBMVTO_T-9M9_w"/>
    <add key="OAuth2ClientId" value="270821045209-o57ik4j5j7r3989c36r1t8egj5hir6jv.apps.googleusercontent.com"/>
    <add key="OAuth2ClientSecret" value="KY5I_IPBb3gmTv4XRXfZNOue"/>
    <add key="OAuth2RefreshToken" value="1/jpjW67ujjIurxLTgtBqBhmNCYsMvN1wUeejyNHVziCA"/>
    <add key="AdwordsClientCustomerId" value="545-623-1966"/>
    <!--End Adwords Keys-->
    
    <!--BING Keys-->
    <add key="BingClientId"  value = "0d7f794e-af11-47df-97a9-60ce8772c8bc"/>
    <add key="BingClientSecret" value = "TnZbVQgeCetfS78dzmwA3ek"/>
    <add key="BingRedirectURI" value = "https://cabbingapi.local"/>
    <add key="BingDeveloperToken" value = "1104985T8Q708909"/>
    <add key= "BingClientState" value ="ClientStateGoesHere"/>
    <!--End BING Keys-->
  </appSettings>
  
  
</configuration>
